* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

input {
    border: none;
}

.main__section {
    width: 584px;
    align-self: center;
    margin: 20vh auto 0;
    height: 60vh;
    text-align: center;
}

.search--bar {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 2vh auto;
    align-items: center;
}

.search--bar__magnifier--icon {
    margin-left: 18px;
    margin-top: 5px;
}

.search--bar__search--input {
    padding-left: 18px;
    flex: 1;
}

.search--bar__search--input * {
    width: 96%;
    background-color: white;
}

.search--buttons button {
    cursor: pointer;
    margin: 0.3vw;
    background-color: #eeedec;
    border: 1px solid #e4e7ed;
    padding: 0.4vw 1.3vw 0.4vw 1.3vw;
    border-radius: 4px;
    color: black;
}

.navbar--wrapper {
    margin: 0;
    padding: 0px 30px;
    width: 100%;
    color: black;
}

.navbar__list {
    display: flex;
    justify-content: end;
    list-style: none;
    align-items: center;
}

.navbar__list > .navbar__item, .navbar__button {
    padding-left: 15px;
}

.navbar__list .navbar__item a {
    color: inherit;
    font-size: 13px;
    text-decoration: none;
}

.navbar__list .navbar__item a:hover {
    text-decoration: underline;
}

.navbar__button button {
    cursor: pointer;
    color: white;
    font-size: 13px;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: -moz-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 2px;
}

.nav-app {
    display: block;
    width: 30px;
    height: 30px;
    background-position: -132px -38px;
    background-image: url('assets/i1_1967ca6a.png');
    background-size: 528px 68px;
}

.footer--wrapper {
    padding: 0px 30px;
    background-color: lightgrey;
}

.footer__list {
    display: flex;
    list-style: none;
}

.footer__item {
    padding-left: 15px;
}